*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;
    
}

img {
    vertical-align: middle;
}

header {
    background: -webkit-linear-gradient(rgba(205, 214, 92, 0.49), rgba(0, 0, 0, 0.64)), url(../img/Etnadec2015b.jpg) center;
    background: linear-gradient(rgba(205, 214, 92, 0.49), rgba(0, 0, 0, 0.64)), url(../img/Etnadec2015b.jpg) center;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
    color: white;
}

.search h1 {
    font-size: 80px;
    padding-bottom: 20px;
}

.text-color {
    color: #f1c40f;
    font-weight: bold;
}

.title {
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
}

.main-body {
    margin-top: 1.35%;
    font-size: 28px;
    text-align: center;
}

#weather h2 {
    font-size: 35px;
    padding-top: 30px;
    text-align: left;
    padding-left: 50px;
}

#weather h1 {
    font-size: 35px;
    padding-top: 10px;
    text-align: left;
    padding-left: 50px;
}

.top-weather p {
    padding-top: 20px;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 30px;
    font-size: 20px;
}

#weather {
    background-color: rgba(75, 63, 63, 0.31);
    border-radius: 25px;
    display: none;
    font-size: 25px;
    border: 1px solid black;
}


.weather-description {
    margin-top: 50px;
}

#weather ul li {
    text-align: left;
    text-decoration: none; 
    list-style-type: none;
    padding-left: 50px;
    margin-bottom: 20px
}

#weather ul li:after {
    content: "";
    border-bottom: 1px solid white;
    display: block;
    width: 96.5%;
    height: 5px;
    opacity: .7;
}

.lower-li {
    padding-bottom: 30px;
}

#weather ul li span {
    float: right;
    padding-right: 50px;
    
}

.loading {
    display: none;
}



.search input {
    margin-top: 30px;
    color: black;
    font-size: 21.5px;
}

.search button {
    color: black;
    font-size: 15px;
    padding: 3px;
    margin-left: 12px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Bitter",serif;;
    vertical-align: middle;
    border: 2px solid grey;
}

@media screen and (max-width: 576px) { body {
    text-align: center;
	}
    #weather ul li {
        
        padding-right: 0px;
    }
    #weather ul li span {
        float: none;
        
        padding-left: 3%;
        padding-right: none;
        
    }
    .top-weather p {
        padding-bottom: 20px;
    }
    .search h1 {
        font-size: 50px;
        padding-bottom: 20px;
    }
}